<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>VfL Bochum 1848</string>
	<key>count</key>
	<integer>2</integer>
	<key>when</key>
	<date>2013-02-24T20:09:15Z</date>
	<key>test</key>
	<string>Test</string>
	<key>deep</key>
	<array>
		<dict><key>name</key><string>VfL</string></dict>
	</array>
	<key>list</key>
	<array>
		<string>value for 0</string>
		<string>value for 1</string>
	</array>
	<key>bag</key>
	<dict>
		<key>a</key>
		<string>value for a</string>
		<key>b</key>
		<string>value for b</string>
	</dict>
</dict>
</plist>
