.DS_Store
project.xcworkspace/
xcuserdata/
*.pch
dox/html/
*~
Build
build
*.gz
*.uncrustify
github*.json
.idea/
google-toolbox-for-mac/
*.xxx
tests/compare-parse-speed-to-unarchive-speed.sh
.bootstrap.auto/
.bootstrap.local/
dependencies/
/include
/lib
/bin
.repos/
mulle-configuration/
.repos/mulle-thread/mintomic/
.repos/mulle-thread/mulle-configuration/
/addictions
/.bootstrap.repos
/stashes
mulle-configuration
tests/include/
tests/bin/
tests/lib/