.DS_Store
project.xcworkspace/
xcuserdata/
*.pch
dox/html/
*~
Build
build
*.gz
*.uncrustify
github*.json
.idea/
google-toolbox-for-mac/
*.xxx
tests/compare-parse-speed-to-unarchive-speed.sh
.bootstrap.auto/
.bootstrap.local/
dependencies/
.repos/
mulle-configuration/
.repos/MulleFoundation/mulle-configuration/
.repos/MulleObjCOSFoundation/mulle-configuration/
.repos/MulleObjCFoundation/mulle-configuration/
.repos/mulle-utf/mulle-configuration/
.repos/mulle-allocator/mulle-configuration/
.repos/mulle-thread/mintomic/
.repos/mulle-thread/mulle-configuration/
.repos/mulle-sprintf/mulle-configuration/
.repos/mulle-container/mulle-configuration/
.repos/mulle-container/cityhash/
.repos/mulle-vararg/mulle-configuration/
.repos/MulleObjC/mulle-configuration/
.repos/mulle-objc-runtime/mulle-configuration/
.repos/mulle-aba/mulle-configuration/
.repos/mulle-concurrent/mulle-configuration/
.repos/MulleObjCExpatFoundation/mulle-configuration/
