.DS_Store

*.gz
*.pch
*.uncrustify
*.xxx
*~

.bootstrap.auto/
.bootstrap.local/
.idea/
.repos/
.bootstrap.repos/

/addictions
/bin
/include
/lib
/stashes
Build/
build/
dependencies/
dox/html/
github*.json
google-toolbox-for-mac/
mulle-configuration/
project.xcworkspace/
tests/bin/
tests/compare-parse-speed-to-unarchive-speed.sh
tests/include/
tests/lib/
xcuserdata/
