<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.33.0.157554</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {559, 783}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColorProfile</key>
	<dict>
		<key>cmykDigest</key>
		<data>
		JTUvL7/uOf5kyUO2+wyMTg==
		</data>
		<key>cmykName</key>
		<string>Generic CMYK Profile</string>
		<key>grayDigest</key>
		<data>
		OLD1tzwOLrW+yk2N7vnN6Q==
		</data>
		<key>grayName</key>
		<string>Generic Gray Profile</string>
		<key>rgbDigest</key>
		<data>
		DSWLrTa2TOv7nmgmw+1QNw==
		</data>
		<key>rgbName</key>
		<string>Generic RGB Profile</string>
	</dict>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2013-02-28 20:25:04 +0000</string>
	<key>Creator</key>
	<string>Nat!</string>
	<key>DisplayScale</key>
	<string>1.000 cm = 1.000 cm</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{210.5, 584}, {201, 32}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>68</integer>
			<key>Shape</key>
			<string>Subprocess</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.72</string>
						<key>b</key>
						<string>0.902118</string>
						<key>g</key>
						<string>0.902103</string>
						<key>r</key>
						<string>0.90213</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>GapRatio</key>
					<real>0.5</real>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 GillSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs20 \cf0 All template logic, loops KVC and Objective-C evaluation is done at this stage.}</string>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0, 0}, {1, 1}}</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{179, 318.5}, {210.658, 43}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>67</integer>
			<key>Shape</key>
			<string>Subprocess</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.72</string>
						<key>b</key>
						<string>0.902118</string>
						<key>g</key>
						<string>0.902103</string>
						<key>r</key>
						<string>0.90213</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>GapRatio</key>
					<real>0.5</real>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 GillSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs20 \cf0 At the end of stage 3 all template inheritance has been done. The model is now ready to be archived or used for printing.}</string>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0, 0}, {1, 1}}</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{179, 247.5}, {264, 43}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>66</integer>
			<key>Shape</key>
			<string>Subprocess</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.72</string>
						<key>b</key>
						<string>0.902118</string>
						<key>g</key>
						<string>0.902103</string>
						<key>r</key>
						<string>0.90213</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>GapRatio</key>
					<real>0.5</real>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 GillSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs20 \cf0 When the parser has finished the second stage of the template model, all template files have been read. All definitions and macros have been expanded.}</string>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0, 0}, {1, 1}}</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{329.99997, 675.20233}, {99, 15}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>GillSans</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>55</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>RTFD</key>
						<data>
						BAtzdHJlYW10eXBlZIHoA4QBQISE
						hBJOU0F0dHJpYnV0ZWRTdHJpbmcA
						hIQITlNPYmplY3QAhZKEhIQITlNT
						dHJpbmcBlIQBKwxmaW5hbmNlZCBi
						eTqGhAJpSQEMkoSEhAxOU0RpY3Rp
						b25hcnkAlIQBaQOShJaWB05TQ29s
						b3KGkoSEhAdOU0NvbG9yAJSEAWMD
						hAJmZgCDSOH6PoaShJaWEE5TUGFy
						YWdyYXBoU3R5bGWGkoSEhBBOU1Bh
						cmFncmFwaFN0eWxlAJSEBENDQFMC
						AISEhAdOU0FycmF5AJSZDJKEhIQJ
						TlNUZXh0VGFiAJSEAkNmAByGkoSi
						oQA4hpKEoqEAVIaShKKhAHCGkoSi
						oQCBjACGkoSioQCBqACGkoSioQCB
						xACGkoSioQCB4ACGkoSioQCB/ACG
						koSioQCBGAGGkoSioQCBNAGGkoSi
						oQCBUAGGhgCGkoSWlgZOU0ZvbnSG
						koSEhAZOU0ZvbnQelJkchAVbMjhj
						XQYAAAASAAAA//5HAGkAbABsAFMA
						YQBuAHMAAACEAWYMmwCbAZsAmwCG
						hoY=
						</data>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 GillSans;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf2 financed by:}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
						<key>alpha</key>
						<array>
							<array>
								<integer>0</integer>
								<integer>12</integer>
								<real>0.49000000953674316</real>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{324.34198, 690.08228}, {210.658, 67}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>GillSans</string>
						<key>Size</key>
						<real>14</real>
					</dict>
					<key>ID</key>
					<integer>56</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Opacity</key>
					<real>0.94680851697921753</real>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>image fill</key>
						<dict>
							<key>Opacity</key>
							<real>0.94680851697921753</real>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>54</integer>
			<key>IsLocked</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{257, 47}, {278, 56}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans-Bold</string>
				<key>Size</key>
				<real>24</real>
			</dict>
			<key>ID</key>
			<integer>52</integer>
			<key>IsLocked</key>
			<string>YES</string>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>2</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 GillSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qr

\f0\b\fs48 \cf0 MulleScionTemplates Data  Flow}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{28, 109}, {86, 15}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>GillSans</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>29</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>RTFD</key>
						<data>
						BAtzdHJlYW10eXBlZIHoA4QBQISE
						hBJOU0F0dHJpYnV0ZWRTdHJpbmcA
						hIQITlNPYmplY3QAhZKEhIQITlNT
						dHJpbmcBlIQBKw/CqSAyMDEzIGJ5
						IE5hdCGGhAJpSQEOkoSEhAxOU0Rp
						Y3Rpb25hcnkAlIQBaQOShJaWB05T
						Q29sb3KGkoSEhAdOU0NvbG9yAJSE
						AWMDhAJmZgCDSOH6PoaShJaWEE5T
						UGFyYWdyYXBoU3R5bGWGkoSEhBBO
						U1BhcmFncmFwaFN0eWxlAJSEBEND
						QFMAAISEhAdOU0FycmF5AJSZDJKE
						hIQJTlNUZXh0VGFiAJSEAkNmAByG
						koSioQA4hpKEoqEAVIaShKKhAHCG
						koSioQCBjACGkoSioQCBqACGkoSi
						oQCBxACGkoSioQCB4ACGkoSioQCB
						/ACGkoSioQCBGAGGkoSioQCBNAGG
						koSioQCBUAGGhgCGkoSWlgZOU0Zv
						bnSGkoSEhAZOU0ZvbnQelJkchAVb
						MjhjXQYAAAASAAAA//5HAGkAbABs
						AFMAYQBuAHMAAACEAWYMmwCbAZsA
						mwCGhoY=
						</data>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 GillSans;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs24 \cf2 \'a9 2013 by Nat!}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
						<key>alpha</key>
						<array>
							<array>
								<integer>0</integer>
								<integer>14</integer>
								<real>0.49000000953674316</real>
							</array>
						</array>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{31, 26}, {80, 80}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>GillSans</string>
						<key>Size</key>
						<real>14</real>
					</dict>
					<key>ID</key>
					<integer>51</integer>
					<key>ImageID</key>
					<integer>1</integer>
					<key>Opacity</key>
					<real>0.5</real>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>image fill</key>
						<dict>
							<key>Opacity</key>
							<real>0.5</real>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>28</integer>
			<key>IsLocked</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>25</integer>
			</dict>
			<key>ID</key>
			<integer>50</integer>
			<key>Points</key>
			<array>
				<string>{200.00217, 571.97766}</string>
				<string>{162.52708, 692.96228}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>22</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>25</integer>
			</dict>
			<key>ID</key>
			<integer>49</integer>
			<key>Points</key>
			<array>
				<string>{97.32222, 571.96472}</string>
				<string>{145.35889, 692.97516}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>18</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>22</integer>
			</dict>
			<key>ID</key>
			<integer>48</integer>
			<key>Points</key>
			<array>
				<string>{410.5, 551}</string>
				<string>{255, 551}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>Arrow</string>
					<key>Pattern</key>
					<integer>24</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>47</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{411, 530.5}, {96, 41}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>47</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Pattern</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 GillSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 KVC Object}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>18</integer>
			</dict>
			<key>ID</key>
			<integer>46</integer>
			<key>Points</key>
			<array>
				<string>{89.000015, 362}</string>
				<string>{89.000015, 530}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>Arrow</string>
					<key>Pattern</key>
					<integer>24</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>42</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>15</integer>
			</dict>
			<key>ID</key>
			<integer>45</integer>
			<key>Points</key>
			<array>
				<string>{115.4232, 361.80936}</string>
				<string>{189.93146, 420.48767}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>42</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>42</integer>
			</dict>
			<key>ID</key>
			<integer>44</integer>
			<key>Points</key>
			<array>
				<string>{415.53668, 208.64381}</string>
				<string>{137.46338, 321.35617}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>33</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>42</integer>
			</dict>
			<key>ID</key>
			<integer>43</integer>
			<key>Points</key>
			<array>
				<string>{89.000015, 290}</string>
				<string>{89.000015, 320}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>38</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{41.000015, 320.5}, {96, 41}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>42</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 GillSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 template model 3}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>38</integer>
			</dict>
			<key>ID</key>
			<integer>41</integer>
			<key>Points</key>
			<array>
				<string>{289.27402, 204.59027}</string>
				<string>{137.47601, 253.40973}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>31</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>38</integer>
			</dict>
			<key>ID</key>
			<integer>40</integer>
			<key>Points</key>
			<array>
				<string>{179.69073, 209.77339}</string>
				<string>{120.80927, 248.22661}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>32</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>38</integer>
			</dict>
			<key>ID</key>
			<integer>39</integer>
			<key>Points</key>
			<array>
				<string>{89.000015, 210}</string>
				<string>{89.000015, 248}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{41.000015, 248.5}, {96, 41}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>38</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 GillSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 template model 2}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>31</integer>
			</dict>
			<key>ID</key>
			<integer>37</integer>
			<key>Points</key>
			<array>
				<string>{254.69643, 120.31884}</string>
				<string>{312.51309, 168.18182}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>20</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>30</integer>
			</dict>
			<key>ID</key>
			<integer>36</integer>
			<key>Points</key>
			<array>
				<string>{191.08667, 119.57571}</string>
				<string>{119.63076, 168.21928}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>20</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>32</integer>
			</dict>
			<key>ID</key>
			<integer>35</integer>
			<key>Points</key>
			<array>
				<string>{221.8322, 120.49442}</string>
				<string>{214.67436, 168.00562}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>20</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>33</integer>
			</dict>
			<key>ID</key>
			<integer>34</integer>
			<key>Points</key>
			<array>
				<string>{259.96591, 109.57068}</string>
				<string>{415.53406, 170.15253}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>20</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{416.00003, 168.5}, {96, 41}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>33</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 GillSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 block  table }</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{163.5, 168.5}, {96, 41}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>32</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 GillSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 definition table }</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{289.75, 168.5}, {96, 41}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>31</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 GillSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 macro table }</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{41.000015, 168.5}, {96, 41}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>30</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 GillSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 template model 1}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{121, 693.43994}, {68, 47.702301}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.317647</string>
					<key>g</key>
					<string>0.172549</string>
					<key>r</key>
					<string>0.439216</string>
				</dict>
				<key>Font</key>
				<string>AndaleMono</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>25</integer>
			<key>Shape</key>
			<string>NoteShape</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Fuzziness</key>
					<real>6.2456183433532715</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AndaleMono;}
{\colortbl;\red255\green255\blue255;\red112\green44\blue81;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf2 \CocoaLigature0 document}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>22</integer>
			</dict>
			<key>ID</key>
			<integer>23</integer>
			<key>Points</key>
			<array>
				<string>{367.56296, 461.48959}</string>
				<string>{243.82523, 530.25714}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>21</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{158.5, 530.5}, {96, 41}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>22</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 GillSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 dataSource}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{368, 418.5}, {68, 47.702301}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.317647</string>
					<key>g</key>
					<string>0.172549</string>
					<key>r</key>
					<string>0.439216</string>
				</dict>
				<key>Font</key>
				<string>AndaleMono</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>21</integer>
			<key>Shape</key>
			<string>NoteShape</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Fuzziness</key>
					<real>6.2456183433532715</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AndaleMono;}
{\colortbl;\red255\green255\blue255;\red112\green44\blue81;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf2 \CocoaLigature0 data\
.plist}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{191.5, 72.297699}, {68, 47.702301}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.317647</string>
					<key>g</key>
					<string>0.172549</string>
					<key>r</key>
					<string>0.439216</string>
				</dict>
				<key>Font</key>
				<string>AndaleMono</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>20</integer>
			<key>Shape</key>
			<string>NoteShape</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Fuzziness</key>
					<real>6.2456183433532715</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AndaleMono;}
{\colortbl;\red255\green255\blue255;\red112\green44\blue81;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf2 \CocoaLigature0 template\
.scion}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{41.000015, 530.5}, {96, 41}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>18</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 GillSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 template model 3}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>18</integer>
			</dict>
			<key>ID</key>
			<integer>17</integer>
			<key>Points</key>
			<array>
				<string>{190.61444, 468.81439}</string>
				<string>{114.71664, 530.18542}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>15</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{186.5, 420.79773}, {68, 47.702301}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.317647</string>
					<key>g</key>
					<string>0.172549</string>
					<key>r</key>
					<string>0.439216</string>
				</dict>
				<key>Font</key>
				<string>AndaleMono</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>15</integer>
			<key>Shape</key>
			<string>NoteShape</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Fuzziness</key>
					<real>6.2456183433532715</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 AndaleMono;}
{\colortbl;\red255\green255\blue255;\red112\green44\blue81;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf2 \CocoaLigature0 template\
.scionz}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{412, 601.5}, {112, 53}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>GillSans</string>
						<key>Size</key>
						<real>36</real>
					</dict>
					<key>ID</key>
					<integer>61</integer>
					<key>Shape</key>
					<string>Subprocess</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
							<key>GapRatio</key>
							<real>0.5</real>
							<key>Width</key>
							<real>4</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 GillSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs72 \cf0 Printer}</string>
					</dict>
					<key>TextRelativeArea</key>
					<string>{{0, 0}, {1, 1}}</string>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{24, 503.5}, {511, 158}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>GillSans</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>62</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.901473</string>
								<key>g</key>
								<string>0.901473</string>
								<key>r</key>
								<string>0.901473</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.347826</string>
								<key>g</key>
								<string>0.347826</string>
								<key>r</key>
								<string>0.347826</string>
							</dict>
							<key>Width</key>
							<real>0.5</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>60</integer>
			<key>IsLocked</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{420, 320.5}, {104, 53}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>GillSans</string>
						<key>Size</key>
						<real>36</real>
					</dict>
					<key>ID</key>
					<integer>64</integer>
					<key>Shape</key>
					<string>Subprocess</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
							<key>GapRatio</key>
							<real>0.5</real>
							<key>Width</key>
							<real>4</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 GillSans;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs72 \cf0 Parser}</string>
					</dict>
					<key>TextRelativeArea</key>
					<string>{{0, 0}, {1, 1}}</string>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{24, 151.5}, {511, 229}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>GillSans</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>65</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.901473</string>
								<key>g</key>
								<string>0.901473</string>
								<key>r</key>
								<string>0.901473</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.347826</string>
								<key>g</key>
								<string>0.347826</string>
								<key>r</key>
								<string>0.347826</string>
							</dict>
							<key>Width</key>
							<real>0.5</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>63</integer>
			<key>IsLocked</key>
			<string>YES</string>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>3</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image2.tiff</string>
		<string>image1.tiff</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Ebene 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2013-03-01 10:30:49 +0000</string>
	<key>Modifier</key>
	<string>Nat!</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAx7X05TU2l6ZT1mZn2WgVMCgUoDhg==</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Arbeitsfläche 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array/>
		<key>Frame</key>
		<string>{{281, 16}, {940, 1012}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-123, -37}, {805, 857}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Arbeitsfläche 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
