<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
                       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Club</key>
	<array>
		<dict>
			<key>name</key>
			<string>VfL Bochum 1848</string>
		</dict>
	</array>
	<key>Liga</key>
	<array>
		<dict>
			<key>clubs</key>
			<array>
				<dict>
					<key>name</key>
					<string>VfL Bochum 1848</string>
				</dict>
			</array>
			<key>name</key>
			<string>2. Liga</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bundesliga</string>
			<key>clubs</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>